* {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    position: relative;
    scroll-behavior: smooth;
    margin: 1%;
}

html, body{
    overflow-x: hidden;
}
body {
    padding: 0;
    background: radial-gradient(circle, #c5c5c5 0%, #272727 100%) fixed;
    scrollbar-color: #202020 #616060;
    margin: 0;
}
h1 {
    font-size: 300%;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
    user-select: none;
    margin: 0;
}

.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}
.loading-container h1 {
    color: black;
}
.inner-loading-container {
    position: relative;
}
.inner-loading-container h1:last-child {
    position: absolute;
    top: 0;
    left: 100%;
}

.grid-container {
    position: absolute;
    top: 0;
    width: 90%;
    display: none;
    grid-template-rows: auto auto auto;
    margin: 5%;
    margin-top: 8%;
    row-gap: 1%;
}

.messageContainer {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1.5%;
    height: 3%;
    width: 100%;
    font-size: 1em;
    z-index: 7;
}

.message {
    flex: auto;
}

.form-popup-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
    border: 3px solid #888;
    padding: 20px;
    color: #ccc;
    width: 70%;
    height: 80%;
    row-gap: 3%;
    align-items: center;
    margin-block-end: 0;
    z-index: 3;
}
.form-popup div {
    display: grid;
    grid-template-rows: 0fr 1fr;
    height: 100%;
    margin: 1%;
    row-gap: 0;
}
.form-popup label {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    margin-bottom: .5%;

}
.form-popup h2 {
    text-align: center;
    margin: 0;
    font-size: 250%;;
}
.form-popup input,
.form-popup textarea {
    background-color: #333;
    color: #ccc;
    border: 1px solid #666;
    font-size: 1.4em;
    text-indent: 2%;

}
.form-popup button, .content button {
    width: 100%;
    padding: 10px;
    background-color: #555;
    border: 1px solid #888;
    color: #ccc;
    cursor: pointer;
    font-size: 1.5em;
    height: 80%;
}

.confirm-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: #ccc;
    z-index: 5;
}
.content {
    display: grid;
    grid-template-areas:
            "question question"
            "confirm cancel";
    grid-column-gap: 10%;
    align-items: center;
    border: 3px solid #888;
    background: #444;
    padding: 20px;
    border-radius: 5px;
}

.content .confirm-message {
    grid-area: question;
    margin-top: 0;
    color: #fd2828;
    font-size: 1.5em;
}
.content .confirm-delete-button {
    grid-area: confirm;
    height: 100%;
    color: red;
    background: #3c0000;


}
.content .cancel-delete-button {
    grid-area: cancel;
    height: 100%;
}

.content button  {
    width: 100%;
    padding: 10px;
    background-color: #555;
    border: 1px solid #888;
    color: #ccc;
    cursor: pointer;
    height: 80%;
}

.form-popup .formButtonContainer {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    align-items: center;
}
.form-popup div:last-child {
    display: flex;
    height: 100%;
    margin: 1%;
    row-gap: 0;

    justify-content: center;
    align-items: center;
}
.delete-button-container {
    display: none;
    align-items: center;
}
.delete-button-container .delete-btn {
    color: red;
    background: #3c0000;
    width: 40%;
    height: 80%;
}

.addButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%;
}
.add-button {
    background: rgb(0, 255, 0);
    font-size:18px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
button {
    cursor: pointer;
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    text-align: center;
    height: 60px;
}
tr td:first-child, tr td:last-child {
    touch-action: none;
    flex: none;
    min-width: 0;
    width: 60px;
}

td {
    display: flex;
    border: 2px solid #000000;
    height: 100%;
    width: 100%;
    min-width: 15%;
    align-items: center;
    justify-content: center;
    background: rgba(170, 170, 170, .7);
    word-wrap: break-word;
}
td button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}
td:first-child button {
    cursor: move;
}

thead tr td {background-color: rgb(83, 83, 83);}
thead tr td:first-child {
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
thead tr td:last-child {
    background-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

tbody tr:last-child.is-dragging td:first-child {
    border-left-color: transparent;
    border-bottom-color: transparent;
}
tbody tr:last-child.is-dragging td:last-child {
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.draggable-table {
    table-layout: fixed;
    border-collapse: collapse;
    user-select: none;
    margin-bottom: 20%;
    z-index: 1;
}
.draggable-table__drag td {
    border: 3px solid white;
}


.draggable-table__drag {
    position: fixed;
    color: #000000;
    background: rgb(51, 51, 51);
    opacity: .9;
    font-weight: bold;
    z-index: 3;
}

.draggable-table thead {
    color: rgb(201, 201, 201);
    font-weight: bold;
}

tr.is-dragging td{
    background: rgba(0, 0, 0, 0.4);
    color: transparent;
}

tr.is-dragging td:first-child {
    background-color: transparent;
    color: transparent;
    border-left-color: transparent;
}

.draggable-table__drag td:first-child button, .draggable-table__drag {
    cursor: grabbing;
}

tr.is-dragging td:last-child {
    background-color: transparent;
    color: transparent;
    border-right-color: transparent;
}

tr:first-child.is-dragging td:first-child,  tr:first-child.is-dragging td:last-child {
    border-top-color: transparent;
}

tr.is-dragging .material-icons {
    color: rgba(0, 0, 0, 0);
}

.form-popup .slideContainer {
    height: 70%;

}



.slider {
    -webkit-appearance: none;
    border-radius: 5px;
    background: #000000;
    outline: none;
    opacity: 0.7;
    height: 100%;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 1.5%;
    height: 140%;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}